<ion-row>
  <ion-col size="12" >

    <ion-card>
      <ion-card-content>
        
        <ion-card-title>
          Barra de progreso
        </ion-card-title>


        <ion-progress-bar class="ion-margin-top" [value]="progresoAzul / 100" color="primary" ></ion-progress-bar>
        <ion-progress-bar class="ion-margin-top" [value]="progresoVerde / 100 " color="success" ></ion-progress-bar>
        

      </ion-card-content>
        </ion-card>

  </ion-col> 

  <ion-col size="6" >
    <ion-card>
      <ion-card-content>
          <app-incrementador nombre="Progress Azul" [progreso]="progresoAzul" (cambioValor)="progresoAzul = $event" ></app-incrementador>
      </ion-card-content>
    </ion-card>
  </ion-col>


  <ion-col size="6" >
    <ion-card>
      <ion-card-content>
        <app-incrementador [classInput]="'btn-success'" nombre="Progress Verde" [progreso]="progresoVerde" (cambioValor)="progresoVerde = $event"></app-incrementador>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>


 

