<ion-header translucent>
  <ion-toolbar>
    <ion-title>Cargar imagen</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="cerrarModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="img-container text-center">
  <img *ngIf="!imgTmp" [src]="modalImagenService.img" class="img-avatar" />
  <img *ngIf="imgTmp" [src]="imgTmp" class="img-avatar" />
  <br />
  <input type="file" (change)="cambiarImagen($event.target.files[0])" />
</ion-content>

<ion-footer translucent>
  <ion-toolbar>

    <ion-button slot="start" class="ion-margin-start" color="primary" (click)="subirImagen()">
      Actualizar foto
    </ion-button>
    
    <ion-buttons slot="end" >
      <ion-button slot="end" color="danger" (click)="cerrarModal()"> Cancelar </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
