<div class="menu-content" >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <div *ngFor="let apartado of menus;let j = index" >
  
      <ion-toolbar>
        &nbsp; {{ apartado.title }}
      </ion-toolbar>
      
      <ion-menu-toggle auto-hide="false" *ngFor="let p of apartado.submenu; let i = index">
        <ion-item (click)="cambiarIndex([j,i])" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex === ''+j+i">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </div>
  </ion-list>

  <ion-footer>
    <ion-button class="button-bottom" expand="full" color="danger">
      <ion-icon name="log-out-outline"></ion-icon> 
      &nbsp;
      Cerrar sesión
    </ion-button>
  </ion-footer>
</div>
