/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
 * Theme CSS
 * ----------------------------------------------------------------------------
 * Imports theme files that can be used to theme an application.
 */

 @import "./theme/default.css";
 @import "./theme/dark.css";
 
 /*
 * Global CSS
 * ----------------------------------------------------------------------------
 * CSS to apply throughout the application.
 */

 .component-content {
    --background: var(--ion-color-step-50, #f2f2f7);
  }
 
 /*
  * When placed inside of an element with a background color
  * the backdrop-filter is blurring it into the header in Safari
  * https://bugs.webkit.org/show_bug.cgi?id=168418
  */
 
 _::-webkit-full-page-media, _:future ion-header .header-background,
 :root .safari_only ion-header .header-background {
   backdrop-filter: none !important;
 }


// Animation background
.login-bg {
    background: linear-gradient(178deg, #470059, #002751);
    background-size: 400% 400%;

    animation: AnimationName 33s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
// End - Animation background

.centrado {
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.custom-card {
    width: 30em;
}

.avatar {
    height: 75px;
    width: 75px;
}

.logout-button{
    left:0;
    right:0;
    margin:0;
    width: 100%;
}


  #themecolors a, .cursor {
    cursor: pointer;
  }
  
  .social-google {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .img-avatar {
    height: 200px;
    width: 200px;
  }
  
  .w100{
    width: 100px;
  }
  
  .w140{
    width: 140px;
  }
  
  .w200{
    width: 200px;
  }

  .oculto{
    display: none;
  }
  
  .fondo-modal-imagen{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .card-min{
    min-width: 300px;
  }